<h1 class="mb-1 restaurant-show-title">新餐廳</h1>
<div class="container">
  <!-- form to create new restaurant -->
  <form class="row g-3 mb-5" action="/restaurants" method="POST">
    <div class="col-md-6">
      <label for="inputNameCH" class="form-label">餐廳中文名稱 Chinese</label>
      <input type="text" class="form-control" name="nameCH">
    </div>
    <div class="col-md-6">
      <label for="inputNameEN" class="form-label">餐廳英文名稱 English</label>
      <input type="text" class="form-control" name="nameEN">
    </div>
    <div class="col-md-6">
      <label for="inputPhoneNum" class="form-label">電話 Phone</label>
      <input type="text" class="form-control" name="phone">
    </div>

    <div class="col-md-6">
      <label for="inputCategory" class="form-label">分類 Category</label>
      <input type="text" class="form-control" name="category">
    </div>

    <div class="col-12">
      <label for="inputAddress" class="form-label">店址 Address</label>
      <input type="text" class="form-control" name="address" placeholder="ex. 台北市羅斯福路三段 283 巷 17 號">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">地圖網址 Google Map Site</label>
      <input type="text" class="form-control" name="map" placeholder="ex. https://goo.gl/maps/123">
    </div>
    <div class="col-12">
      <label for="inputPhoto" class="form-label">餐廳照片 Photo</label>
      <input type="text" class="form-control" name="photo" placeholder="ex. https://assets/01.jpg">
    </div>

    <div class="mb-3">
      <label for="inputDescription" class="form-label">餐廳描述 Description</label>
      <textarea class="form-control" name="description" rows="3"></textarea>
    </div>

    <div class="col-md-4">
      <label for="inputRating" class="form-label">評分（1~5 分）</label>
      <select id="inputRating" class="form-select" name="rating">
        <option>Choose...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary mt-5">送出 Submit</button>
    </div>
  </form>
</div>